{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="cover-image">
        <h1>Zomato Restaurants</h1>
    </div>
    <div class="container">
        <form method="get" action=".">
            <select id="country" name="country">
                <option value="">Select Country</option>
                {% for country in countries %}
                    <option value="{{ country }}" {% if country == selected_country %}selected{% endif %}>{{ country }}</option>
                {% endfor %}
            </select>

            <label for="cost_for_two">Cost For Two:</label>
            <input type="text" id="cost_for_two" name="cost_for_two" value="{{ cost_for_two }}">
            
            <label for="search">Search:</label>
            <input type="text" id="search" name="search" value="{{ search }}" placeholder="Name or Cuisine">
            <button type="submit">Apply Filter</button>
        </form>

        <!-- Restaurant List -->
        <ul class="restaurant-list">
            {% for restaurant in restaurants %}
            <li>
                <div class="restaurant-item">
                    <img src="{{ restaurant.image_url }}" alt="Restaurant Image">
                    <div class="restaurant-info rating">
                        <a class='restaurantName' href="{% url 'restaurant-detail' restaurant.id %}">
                            <h3>{{ restaurant.name }}</h3>
                        </a>
                    </div>

                    <div class="rating">
                        <div class="cuisine">
                        <span>{{ restaurant.cuisine }} </span>
                        </div>
                        <div class="starRating">
                            <span>{{ restaurant.rating }} <span class="fa fa-star checked"></span> </span>
                        </div>

                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

        <!-- Pagination -->
        <div class="pagination">
            {% if pagination.previous %}
                <a href="?page={{ pagination.current_page|add:"-1" }}&country={{ selected_country }}&cost_for_two={{cost_for_two}}&search={{search}}">Previous</a>
            {% endif %}
            
            <span>Page {{ pagination.current_page }} of {{ pagination.total_pages }}</span>
            
            {% if pagination.next %}
                <a href="?page={{ pagination.current_page|add:"1" }}&country={{ selected_country }}&cost_for_two={{cost_for_two}}&search={{search}}">Next</a>
            {% endif %}
        </div>
    </div>
</body>
</html>
